:root {
    --mount-meadow: #1BBC9C;
    --white-smoke: #F0F0F0;
    --night-rider: #343434;
    --black: #191B17;
    --transition: all 0.5s ease-in-out;
}

* {
    font-family: 'Hind Siliguri', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    color: var(--black);
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
}